.App {
  padding: 10px;
  display: flex;
  background-color: rgb(49, 45, 45);
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.breaking {
  color: white;
  padding: 10px;
}

.breaking__top {
  background-color: rgb(49, 45, 45);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}